---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-8 ml-4 text-xl">
    You are not authorized to enter this restricted area
  </h1>
  <a class="p-4 text-xl underline hover:text-white" href="/"
    >Back to the entrance</a
  >
</Layout>
