---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-8 ml-4 text-xl">This is a forbidden area</h1>
  <p class="ml-4 text-xl">You don't have the permission to be here</p>
  <a class="p-4 text-xl underline hover:text-white" href="/"
    >Back to the entrance</a
  >
</Layout>
