---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-8 ml-4 text-xl">This page doesn't really exist</h1>
  <p class="ml-4 text-xl">It it just an illusion</p>
  <a class="p-4 text-xl underline hover:text-white" href="/">Wake up</a>
</Layout>
