---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-8 ml-4 text-xl">We are facing some internal difficulties</h1>
  <p class="ml-4 text-xl">This is probably not your fault</p>
  <p class="ml-4 text-xl">Try again later</p>
</Layout>
