---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game.astro";
import Steam from "../components/Steam.astro";

import copy from "../assets/copy.svg";
import mageanoid_01 from "../assets/mageanoid_01.jpg";
import mageanoid_02 from "../assets/mageanoid_02.jpg";
import mageanoid_03 from "../assets/mageanoid_03.jpg";
import mageanoid_04 from "../assets/mageanoid_04.jpg";
import mageanoid_05 from "../assets/mageanoid_05.jpg";
import Card from "../components/Card.astro";
---

<Layout>
  <h1
    class="mx-auto mt-8 text-4xl font-bold text-white md:px-2 w-[calc(100dvw-1rem)] max-w-[101rem]"
  >
    Library
  </h1>

  <Card id="dead_love">
    <h2 class="text-2xl font-bold text-white">Dead Love</h2>
    <p class="uppercase">Work in progress</p>
    <br />
    <p class="text-pretty">
      Welcome to Dead Love, where life, death, and romance intertwine! In this
      unique dating sim, you'll navigate a society where the living and the
      undead coexist. Can you find love across the veil?
    </p>
    <br />
    <p class="text-pretty">
      Every choice you make shapes your story and relationships – and there are
      a <i>lot</i> of them. Your decisions truly matter, leading to vastly different
      outcomes. There's no "game over" here; every path you take unfolds into its
      own unique storyline. Plus, test your abilities with skill checks! Succeed
      in challenging minigames to impress your potential partners and overcome obstacles
      in your quest for connection.
    </p>
    <p class="text-pretty">
      Will you find your soulmate, living or otherwise? Dive into Dead Love and
      find out!
    </p>
  </Card>

  <Card id="qrier">
    <h2 class="text-2xl font-bold text-white">Qrier</h2>
    <p class="uppercase">Work in progress</p>
    <br />
    <p class="text-pretty">
      The inevitable next step in the evolution of business emails. Qrier is an
      email client made to bring your email productivity to the next level.
    </p>
    <ul>
      <li class="text-pretty">
        Control the whole app with keyboard shortcuts. Your hands never have to
        leave the keyboard.
      </li>
      <li class="text-pretty">
        Extend the functionality with Mods in your language of choice with the
        magic of WebAssembly.
      </li>
      <li class="text-pretty">Highly performant offline-first experience.</li>
    </ul>
  </Card>

  <Card id="likeloop">
    <h2 class="text-2xl font-bold text-white">LikeLoop</h2>
    <p class="uppercase">Work in progress</p>
    <br />
    <p class="text-pretty">
      You want to watch a movie with friends. And even though you all have a
      list of movies you want to watch, it's hard to find one that you all want
      to see. Have you ever had this problem? Then LikeLoop is for you!
    </p>
    <p class="text-pretty">
      We combine all your watch lists in one LikeLoop account and let you see
      overlaps with other LikeLoop accounts.
    </p>
  </Card>

  <Card id="speicher">
    <h2 class="text-2xl font-bold text-white">Speicher</h2>
    <br />
    <p class="text-pretty">
      A lightweight, embedded in-memory NoSQL database for Go applications.
      Designed for seamless integration with zero configuration—no external
      servers, query languages, or code generation. Offers thread-safe
      operations and an intuitive API for direct interaction with native Go data
      structures, accelerating development while simplifying real-time data
      management.
    </p>
    <p>
      Take a look at the <a
        class="underline"
        href="https://github.com/bloodmagesoftware/speicher/wiki"
        target="_blank">documentation</a
      > to get some examples.
    </p>
    <br />
    <p
      class="flex flex-row items-center py-2 px-4 rounded-md bg-neutral-600 w-fit"
    >
      <code
        class="pr-4 break-words break-all border-r border-solid border-r-neutral-200"
        >go get -u github.com/&shy;bloodmagesoftware/speicher@latest</code
      >
      <img
        alt="copy"
        class="ml-4 h-6 cursor-pointer hover:opacity-75"
        src={copy.src}
        onclick="navigator.clipboard.writeText('github.com/bloodmagesoftware/speicher')"
      />
    </p>
  </Card>

  <Game
    title="Mageanoid"
    img={[
      "/static/mageanoid_trailer.mp4",
      mageanoid_01.src,
      mageanoid_02.src,
      mageanoid_03.src,
      mageanoid_04.src,
      mageanoid_05.src,
    ]}
    genres={["Arcade", "Twin Stick Shooter"]}
    platforms={["windows", "mac", "linux"]}
    release="31 Jul, 2024"
    price="Free"
  >
    <p class="text-pretty">
      Dive into the heart-pounding action of Mageanoid. As a powerful mage, your
      task is to fend off relentless waves of undead skeletons with your magical
      powers. Each second counts as you unleash your spells and dodge the deadly
      strikes of their swords. How long can you survive in this epic twin-stick
      shooter?
    </p>
    <ul>
      <li class="text-pretty">
        Pixel art graphics that bring the undead world to life
      </li>
      <li class="text-pretty">Fast-paced twin-stick shooting action</li>
      <li class="text-pretty">Endless waves of enemies to test your skills</li>
    </ul>

    <Steam href="https://store.steampowered.com/app/3104840/Mageanoid/"
      >Play on Steam</Steam
    >
  </Game>
</Layout>
