---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game.astro";
import Steam from "../components/Steam.astro";
import Mailto from "../components/Mailto.astro";

import copy from "../assets/copy.svg";
import mageanoid_01 from "../assets/mageanoid_01.jpg";
import mageanoid_02 from "../assets/mageanoid_02.jpg";
import mageanoid_03 from "../assets/mageanoid_03.jpg";
import mageanoid_04 from "../assets/mageanoid_04.jpg";
import mageanoid_05 from "../assets/mageanoid_05.jpg";

import Card from "../components/Card.astro";
// import PartnerSlider from "../components/PartnerSlider.astro";
---

<Layout h1={true}>
  <section
    class="mt-16 md:mt-64 mb-42 grid-cols-[1fr_1fr] grid-rows-[auto_auto_auto_auto] gap-4"
  >
    <h2 class="text-4xl font-bold text-red-100 text-balance">
      Spaß statt Frust
    </h2>
    <p class="mt-8 max-w-4xl text-balance">
      Wir sind ein kleines Team ambitionierter Entwickler mit einer gemeinsamen
      Mission.
    </p>
    <p class="mb-8 mt-4 max-w-4xl text-balance">
      Wir schaffen hochwertige Software, die du gerne nutzt. Deine Vision steht
      bei uns im Mittelpunkt. Ob du eine komplexe Unternehmenssoftware,
      innovative Entwicklertools oder ein fesselndes Videospiel benötigst, wir
      setzen deine Ideen mit Leidenschaft um. Wir arbeiten eng mit dir zusammen
      und konzentrieren uns auf das Wesentliche. Wir schaffen Lösungen, die
      echten Mehrwert bieten und Freude bereiten.
    </p>
    <a
      class="flex gap-2 flex-row items-center w-fit rounded-lg bg-rose-400 hover:bg-rose-500 text-black px-4 py-2 my-4 mr-4"
      href="mailto:contact@bloodmagesoftware.de"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
        ></path>
      </svg>
      <span>Starten wir unser nächstes Projekt</span>
    </a>
    <a
      class="flex gap-2 flex-row items-center w-fit rounded-lg bg-zinc-400 hover:bg-zinc-500 text-black px-4 py-2 my-4"
      download="bloodmage_software_press_kit.zip"
      href="/static/press_kit.zip"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-file-earmark-zip"
        viewBox="0 0 16 16"
      >
        <path
          d="M5 7.5a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v.938l.4 1.599a1 1 0 0 1-.416 1.074l-.93.62a1 1 0 0 1-1.11 0l-.929-.62a1 1 0 0 1-.415-1.074L5 8.438zm2 0H6v.938a1 1 0 0 1-.03.243l-.4 1.598.93.62.929-.62-.4-1.598A1 1 0 0 1 7 8.438z"
        ></path>
        <path
          d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1h-2v1h-1v1h1v1h-1v1h1v1H6V5H5V4h1V3H5V2h1V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"
        ></path>
      </svg>
      <span>Press-kit herunterladen</span>
    </a>

    <!-- <PartnerSlider /> -->
  </section>

  <h2 class="mt-8 text-4xl font-bold text-white">Unsere Bibliothek</h2>

  <Card id="dead_love">
    <h3 class="text-2xl font-bold text-white">Dead Love</h3>
    <p class="uppercase">In Arbeit</p>
    <br />
    <p class="text-pretty">
      Willkommen bei Dead Love, wo Leben, Tod und Romantik miteinander verwoben
      sind! In diesem einzigartigen Dating-Simulator navigierst du durch eine
      Gesellschaft, in der die Lebenden und die Untoten koexistieren. Kannst du
      Liebe jenseits des Schleiers finden?
    </p>
    <br />
    <p class="text-pretty">
      Jede Entscheidung, die du triffst, prägt deine Geschichte und deine
      Beziehungen – und davon gibt es <i>eine Menge</i>. Deine Entscheidungen
      sind wirklich wichtig und führen zu sehr unterschiedlichen Ergebnissen.
      Hier gibt es kein „Game Over“; jeder Weg, den du einschlägst, entfaltet
      sich zu einer eigenen, einzigartigen Geschichte. Außerdem kannst du deine
      Fähigkeiten mit Skill-Checks testen! Meistere herausfordernde Minispiele,
      um deine potenziellen Partner zu beeindrucken und Hindernisse auf deiner
      Suche nach Verbindung zu überwinden.
    </p>
    <p class="text-pretty">
      Wirst du deinen Seelenverwandten finden, lebendig oder anders? Tauche ein
      in Dead Love und finde es heraus!
    </p>
  </Card>

  <Card id="likeloop">
    <h3 class="text-2xl font-bold text-white">LikeLoop</h3>
    <p class="uppercase">In Arbeit</p>
    <br />
    <p class="text-pretty">
      Du möchtest mit Freunden einen Film anschauen. Und obwohl ihr alle eine
      Liste mit Filmen habt, die ihr sehen möchtet, ist es schwierig, einen Film
      zu finden, den ihr alle sehen wollt. Hast du dieses Problem schon einmal
      gehabt? Dann ist LikeLoop genau das Richtige für dich!
    </p>
    <p class="text-pretty">
      Wir kombinieren alle deine Watchlists in einem LikeLoop-Konto und zeigen
      dir Überschneidungen mit anderen LikeLoop-Konten.
    </p>
  </Card>

  <Card id="speicher">
    <h3 class="text-2xl font-bold text-white">Speicher</h3>
    <br />
    <p class="text-pretty">
      Eine leichtgewichtige, eingebettete In-Memory-NoSQL-Datenbank für
      Go-Anwendungen. Entwickelt für nahtlose Integration ohne Konfiguration –
      keine externen Server, Abfragesprachen oder Codegenerierung. Bietet
      threadsichere Operationen und eine intuitive API für die direkte
      Interaktion mit nativen Go-Datenstrukturen, wodurch die Entwicklung
      beschleunigt und die Verwaltung von Echtzeitdaten vereinfacht wird.
    </p>
    <p>
      Werfe einen Blick in die <a
        class="underline"
        href="https://github.com/bloodmagesoftware/speicher/wiki"
        target="_blank">Dokumentation</a
      > um Beispiele zu sehen.
    </p>
    <br />
    <p
      class="flex flex-row items-center py-2 px-4 rounded-md bg-neutral-600 w-fit"
    >
      <code
        class="pr-4 break-words break-all border-r border-solid border-r-neutral-200"
        >go get -u github.com/bloodmagesoftware/speicher@latest</code
      >
      <img
        alt="copy"
        class="ml-4 h-6 cursor-pointer hover:opacity-75"
        src={copy.src}
        onclick="navigator.clipboard.writeText('go get -u github.com/bloodmagesoftware/speicher@latest')"
      />
    </p>
  </Card>

  <Game
    title="Mageanoid"
    img={[
      "/static/mageanoid_trailer.mp4",
      mageanoid_01.src,
      mageanoid_02.src,
      mageanoid_03.src,
      mageanoid_04.src,
      mageanoid_05.src,
    ]}
    genres={["Arcade", "Twin Stick Shooter"]}
    platforms={["windows", "mac", "linux"]}
    release="31 Jul, 2024"
    price="Kostelos"
  >
    <p class="text-pretty">
      Tauche ein in die atemberaubende Action von Mageanoid. Als mächtiger
      Magier ist es deine Aufgabe, mit deinen magischen Kräften unerbittliche
      Wellen untoter Skelette abzuwehren. Jede Sekunde zählt, während du deine
      Zaubersprüche entfesselst und den tödlichen Schlägen ihrer Schwerter
      ausweichst. Wie lange kannst du in diesem epischen Twin-Stick-Shooter
      überleben?
    </p>
    <ul>
      <li class="text-pretty">
        Pixelgrafik, die die Welt der Untoten zum Leben erweckt
      </li>
      <li class="text-pretty">Rasante Twin-Stick-Shooter-Action</li>
      <li class="text-pretty">
        Endlose Wellen von Feinden, die deine Fähigkeiten auf die Probe stellen
      </li>
    </ul>

    <Steam href="https://store.steampowered.com/app/3104840/Mageanoid/"
      >Jetzt auf Steam spielen</Steam
    >
  </Game>
</Layout>
