---
import Layout from "../layouts/Layout.astro";
import Mailto from "../components/Mailto.astro";
import Tel from "../components/Tel.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <h1
    class="mx-auto mt-8 text-4xl font-bold text-white md:px-2 w-[calc(100dvw-1rem)] max-w-[101rem]"
  >
    Impressum / Legal Notice
  </h1>
  <Card>
    <p>Inhalte gemäß §5 DDG</p>
    <br />
    <p>Mayer & Ott GbR</p>
    <br />
    <p>c/o IP-Management #4914</p>
    <p>Ludwig-Erhard-Str. 18</p>
    <p>20459 Hamburg</p>
    <br />
    <p>USt-IdNr. <code>DE453006444</code></p>
    <br />
    <p>Vertreten durch: Frank Mayer, René Ott</p>
    <br />
    <h2 class="text-xl font-bold">Kontaktdaten</h2>
    <br />
    <p>E-Mail: <Mailto address="contact@bloodmagesoftware.de" /></p>
    <p>
      Telefon: <Tel tel="+49 7131 7485883" />
    </p>
    <br />
    <h2 class="text-xl font-bold">EU-Streitschlichtung</h2>
    <br />
    <p>
      Die Europäische Kommission stellt eine Plattform zur
      Online-Streitbeilegung (OS) bereit:
    </p>
    <p>
      <a class="underline" href="https://ec.europa.eu/consumers/odr/"
        >ec.europa.eu/consumers/odr/</a
      >
    </p>
    <br />
    <p>Unsere E-Mail-Adresse finden Sie oben im Impressum</p>
  </Card>

  <Card>
    <p>Information according to § 5 DDG</p>
    <br />
    <p>Mayer & Ott GbR</p>
    <br />
    <p>c/o IP-Management #4914</p>
    <p>Ludwig-Erhard-Str. 18</p>
    <p>20459 Hamburg</p>
    <p>Germany</p>
    <br />
    <p>VAT ID No. <code>DE453006444</code></p>
    <br />
    <p>Represented by: Frank Mayer, René Ott</p>
    <br />
    <h2 class="text-xl font-bold">Contact Information</h2>
    <br />
    <p>Email: <Mailto address="contact@bloodmagesoftware.de" /></p>
    <p>
      Phone: <Tel tel="+49 7131 7485883" />
    </p>
    <br />
    <h2 class="text-xl font-bold">EU Dispute Resolution</h2>
    <br />
    <p>
      The European Commission provides a platform for online dispute resolution
      (ODR):
    </p>
    <p>
      <a class="underline" href="https://ec.europa.eu/consumers/odr/"
        >ec.europa.eu/consumers/odr/</a
      >
    </p>
    <br />
    <p>Our email address can be found above in the legal notice.</p>
  </Card>
</Layout>
