---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <h1
    class="mx-auto mt-8 text-4xl font-bold text-white md:px-2 w-[calc(100dvw-1rem)] max-w-[101rem]"
  >
    Datenschutzerklärung / Privacy policy
  </h1>
  <Card>
    <h2 class="text-xl font-bold">Datenschutz auf einen Blick</h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">Allgemeine Hinweise</h3>
    <p>
      Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
      Ihren personenbezogenen Daten passiert, wenn Sie unsere Website (<code
        >https://bloodmagesoftware.de</code
      >) besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
      persönlich identifiziert werden können. Ausführliche Informationen zum
      Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
      Datenschutzerklärung.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">Hosting</h2>
    <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Hetzner</h3>
    <p>
      Anbieter ist die Hetzner Online GmbH, Industriestr. 25, 91710
      Gunzenhausen, Deutschland (nachfolgend „Hetzner“). Wenn Sie unsere Website
      besuchen, erfasst Hetzner verschiedene Logfiles einschließlich Ihrer
      IP-Adressen. Details entnehmen Sie der Datenschutzerklärung von Hetzner:
      <a
        href="https://www.hetzner.com/de/rechtliches/datenschutz"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">https://www.hetzner.com/de/rechtliches/datenschutz</a
      >.
    </p>
    <p>
      Die Verwendung von Hetzner erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f
      DSGVO. Wir haben ein berechtigtes Interesse an einer möglichst
      zuverlässigen Darstellung unserer Website.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Auftragsverarbeitung</h3>
    <p>
      Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des
      oben genannten Dienstes mit Hetzner geschlossen. Hierbei handelt es sich
      um einen datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet,
      dass Hetzner die personenbezogenen Daten unserer Websitebesucher nur nach
      unseren Weisungen und unter Einhaltung der DSGVO verarbeitet.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">
      Allgemeine Hinweise und Pflicht­informationen
    </h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">Datenschutz</h3>
    <p>
      Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
      sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
      entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
      Datenschutzerklärung.
    </p>
    <p>
      Wenn Sie diese Website benutzen, werden verschiedene personenbezogene
      Daten wie nachfolgend beschrieben verarbeitet. Personenbezogene Daten sind
      Daten, mit denen Sie persönlich identifiziert werden können. Die
      vorliegende Datenschutzerklärung erläutert, welche Daten erhoben und wofür
      sie genutzt werden. Sie erläutert auch, wie und zu welchem Zweck das
      geschieht.
    </p>
    <p>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei
      der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
      lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
      möglich.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Hinweis zur verantwortlichen Stelle
    </h3>
    <p>
      Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website
      ist:
    </p>
    <p>
      Mayer &amp; Ott GbR<br />
      c/o IP-Management #4914<br />
      Ludwig-Erhard-Str. 18<br />
      20459 Hamburg<br />
      Deutschland
    </p>
    <p>Vertreten durch: Frank Mayer, René Ott</p>
    <p>
      Telefon: +49 7131 7485883<br />
      E-Mail: contact@bloodmagesoftware.de
    </p>
    <p>
      Verantwortliche Stelle ist die natürliche oder juristische Person, die
      allein oder gemeinsam mit anderen über die Zwecke und Mittel der
      Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o.
      Ä.) entscheidet.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Widerruf Ihrer Einwilligung zur Datenverarbeitung
    </h3>
    <p>
      Einige Datenverarbeitungsvorgänge erfordern möglicherweise Ihre
      Einwilligung. Sie können eine bereits erteilte Einwilligung jederzeit
      widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die
      Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom
      Widerruf unberührt.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Beschwerderecht bei der zuständigen Aufsichtsbehörde
    </h3>
    <p>
      Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein
      Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige
      Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der
      Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen
      seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren
      Kontaktdaten können folgendem Link entnommen werden:
      <a
        href="https://www.bfdi.bund.de/SharedDocs/Adressen/DE/LfD/BadenWuerttemberg.html?nn=304054"
        target="_blank"
        rel="noopener noreferrer"
        class="underline"
        >https://www.bfdi.bund.de/SharedDocs/Adressen/DE/LfD/BadenWuerttemberg.html?nn=304054</a
      >.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Recht auf Datenübertragbarkeit</h3>
    <p>
      Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung
      oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder
      an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen
      zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen
      Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
      ist.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">SSL- bzw. TLS-Verschlüsselung</h3>
    <p>
      Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
      vertraulicher Inhalte, wie zum Beispiel Anfragen, die Sie an uns als
      Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine
      verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
      Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol
      in Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert
      ist, können die Daten, die Sie an uns übermitteln, in der Regel nicht von
      Dritten mitgelesen werden.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Auskunft, Sperrung, Löschung</h3>
    <p>
      Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
      Recht auf unentgeltliche Auskunft über Ihre gespeicherten
      personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
      Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder
      Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
      personenbezogene Daten können Sie sich jederzeit unter der oben
      angegebenen Adresse (Verantwortliche Stelle) an uns wenden.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Links zu anderen Websites</h3>
    <p>
      Unsere Website enthält Links zu externen Websites, insbesondere zu
      Websites für unsere Produkte. Diese Datenschutzerklärung erstreckt sich
      nicht auf diese anderen Anbieter. Wir haben keinen Einfluss darauf, dass
      deren Betreiber die Datenschutzbestimmungen einhalten und übernehmen daher
      keine Verantwortung für Richtigkeit, Aktualität und Vollständigkeit der
      dort bereitgestellten Informationen. Wir empfehlen, die
      Datenschutzerklärungen aller von Ihnen besuchten externen Websites zu
      überprüfen.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Datenschutzbeauftragter</h3>
    <p>
      Wir sind gesetzlich nicht zur Bestellung eines Datenschutzbeauftragten
      verpflichtet und haben daher keinen bestellt.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">
      Datenerfassung auf unserer Website
    </h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Cookies, Session Storage, Local Storage
    </h3>
    <p>
      Diese Website (<code>https://bloodmagesoftware.de</code>) selbst verwendet
      keine Cookies, Session Storage oder Local Storage. Wir speichern keine
      Daten in Ihrem Browser.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Server-Log-Dateien</h3>
    <p>
      Unser Hosting-Anbieter, die Hetzner Online GmbH, erhebt und speichert
      automatisch Informationen in so genannten Server-Log-Dateien, die Ihr
      Browser automatisch übermittelt. Nach deren Angaben werden diese Logs für
      14 Tage aufbewahrt. Dies sind typischerweise:
    </p>
    <ul>
      <li>Browsertyp und Browserversion</li>
      <li>verwendetes Betriebssystem</li>
      <li>Referrer URL (die zuvor besuchte Seite)</li>
      <li>Hostname des zugreifenden Rechners</li>
      <li>Uhrzeit der Serveranfrage</li>
      <li>IP-Adresse</li>
    </ul>
    <p>
      Eine Zusammenführung dieser Daten mit anderen Datenquellen wird durch uns
      nicht vorgenommen. Hetzner verarbeitet diese Daten auf Grundlage von Art.
      6 Abs. 1 lit. f DSGVO zum Zweck der Gewährleistung der Sicherheit und
      Stabilität der Hosting-Dienste. Details entnehmen Sie bitte der
      Datenschutzerklärung von Hetzner.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Anfrage per E-Mail oder Telefon</h3>
    <p>
      Wenn Sie uns per E-Mail oder Telefon kontaktieren, wird Ihre Anfrage
      inklusive aller daraus hervorgehenden personenbezogenen Daten (Name,
      Anfragedetails, Kontaktdaten) zum Zwecke der Bearbeitung Ihres Anliegens
      bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre
      Einwilligung weiter.
    </p>
    <p>
      Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit.
      b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags
      zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
      erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf
      unserem berechtigten Interesse an der effektiven Bearbeitung der an uns
      gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer
      Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), sofern diese abgefragt wurde;
      die Einwilligung ist jederzeit widerrufbar.
    </p>
    <p>
      Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei
      uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur
      Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt
      (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende
      gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen –
      bleiben unberührt.
    </p>
  </Card>

  <Card>
    <h2 class="text-xl font-bold">An overview of data protection</h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">General Information</h3>
    <p>
      The following gives a simple overview of what happens to your personal
      information when you visit our website (<code
        >https://bloodmagesoftware.de</code
      >). Personal information is any data with which you could be personally
      identified. Detailed information on the subject of data protection can be
      found in our privacy policy found below.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">Hosting</h2>
    <p>We host the contents of our website with the following provider:</p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Hetzner</h3>
    <p>
      The provider is Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen,
      Germany (hereinafter referred to as Hetzner). When you visit our website,
      Hetzner collects various log files including your IP address. For details,
      please refer to Hetzner’s privacy policy:
      <a
        href="https://www.hetzner.com/legal/privacy-policy"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">https://www.hetzner.com/legal/privacy-policy</a
      >.
    </p>
    <p>
      The use of Hetzner is based on Art. 6 (1) (f) GDPR. We have a legitimate
      interest in ensuring that our website is presented as reliably as
      possible.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Data Processing Agreement</h3>
    <p>
      We have concluded a data processing agreement (DPA) with Hetzner for the
      use of their service. This is a contract required by data protection law,
      which ensures that Hetzner only processes the personal data of our website
      visitors in accordance with our instructions and in compliance with the
      GDPR.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">
      General notes and mandatory information
    </h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">Data protection</h3>
    <p>
      The operators of this website take the protection of your personal data
      very seriously. We treat your personal data as confidential and in
      accordance with the statutory data protection regulations and this privacy
      policy.
    </p>
    <p>
      When you use this website, certain personal data is processed as described
      below. Personal information is any data with which you could be personally
      identified. This privacy policy explains what information is collected and
      what it is used for. It also explains how and for what purpose this
      happens.
    </p>
    <p>
      Please note that data transmitted via the internet (e.g. via email
      communication) may be subject to security breaches. Complete protection of
      your data from third-party access is not possible.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Notice concerning the party responsible for this website
    </h3>
    <p>The party responsible for processing data on this website is:</p>
    <p>
      Mayer &amp; Ott GbR<br />
      c/o IP-Management #4914<br />
      Ludwig-Erhard-Str. 18<br />
      20459 Hamburg<br />
      Germany
    </p>
    <p>Represented by: Frank Mayer, René Ott</p>
    <p>
      Telephone: +49 7131 7485883<br />
      Email: contact@bloodmagesoftware.de
    </p>
    <p>
      The responsible party is the natural or legal person who alone or jointly
      with others decides on the purposes and means of processing personal data
      (names, email addresses, etc.).
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Revocation of your consent to the processing of your data
    </h3>
    <p>
      Some data processing operations may require your consent. You may revoke
      your consent at any time with future effect. An informal email making this
      request is sufficient. The lawfulness of the data processing carried out
      before we receive your request remains unaffected by the revocation.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Right to file complaints with regulatory authorities
    </h3>
    <p>
      If there has been a breach of data protection legislation, the person
      affected may file a complaint with the competent regulatory authority. The
      competent regulatory authority for matters related to data protection
      legislation is the data protection officer of the German state in which
      our company is headquartered. A list of data protection officers and their
      contact details can be found at the following link:
      <a
        href="https://www.bfdi.bund.de/SharedDocs/Adressen/EN/LfD/BadenWuerttemberg.html?nn=408004"
        target="_blank"
        rel="noopener noreferrer"
        class="underline"
        >https://www.bfdi.bund.de/SharedDocs/Adressen/EN/LfD/BadenWuerttemberg.html?nn=408004</a
      >.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Right to data portability</h3>
    <p>
      You have the right to have data which we process based on your consent or
      in fulfillment of a contract automatically delivered to yourself or to a
      third party in a standard, machine-readable format. If you require the
      direct transfer of data to another responsible party, this will only be
      done to the extent technically feasible.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">SSL or TLS encryption</h3>
    <p>
      This site uses SSL or TLS encryption for security reasons and for the
      protection of the transmission of confidential content, such as the
      inquiries you send to us as the site operator. You can recognize an
      encrypted connection in your browser’s address line when it changes from
      “http://” to “https://” and the lock icon is displayed in your browser’s
      address bar. If SSL or TLS encryption is activated, the data you transfer
      to us generally cannot be read by third parties.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Information, blocking, deletion</h3>
    <p>
      As permitted by law, you have the right at any time to free information
      about your stored personal data, its origin and recipient and the purpose
      of data processing and, if necessary, a right to correction, blocking or
      deletion of this data. For this purpose, as well as for further questions
      on the subject of personal data, you can contact us at any time at the
      address given above (Responsible Party).
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Links to other websites</h3>
    <p>
      Our website contains links to external websites, specifically to websites
      for our products. This privacy policy does not extend to these other
      providers. We have no influence on whether their operators comply with
      data protection regulations and therefore accept no responsibility for the
      accuracy, currency, and completeness of the information provided there. We
      recommend reviewing the privacy policies of any external sites you visit.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Data protection officer</h3>
    <p>
      We are not legally obligated to appoint a data protection officer and have
      therefore not appointed one.
    </p>

    <h2 class="mt-8 mb-4 text-xl font-bold">Data collection on our website</h2>

    <h3 class="mt-8 mb-4 text-lg font-bold">
      Cookies, Session Storage, Local Storage
    </h3>
    <p>
      This website (<code>https://bloodmagesoftware.de</code>) itself does not
      use cookies, session storage, or local storage. We do not store any data
      in your browser.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Server log files</h3>
    <p>
      Our hosting provider, Hetzner Online GmbH, automatically collects and
      stores information that your browser automatically transmits in “server
      log files”. According to your information, these logs are kept for 14
      days. These typically are:
    </p>
    <ul>
      <li>Browser type and browser version</li>
      <li>Operating system used</li>
      <li>Referrer URL (the previously visited page)</li>
      <li>Host name of the accessing computer</li>
      <li>Time of the server request</li>
      <li>IP address</li>
    </ul>
    <p>
      This data is not combined with data from other sources by us. Hetzner
      processes this data based on Art. 6 (1) (f) GDPR for the purpose of
      ensuring the security and stability of the hosting services. For details,
      please refer to Hetzner's privacy policy.
    </p>

    <h3 class="mt-8 mb-4 text-lg font-bold">Inquiry by e-mail or telephone</h3>
    <p>
      If you contact us by e-mail or telephone, your inquiry including all
      resulting personal data (name, inquiry details, contact information) will
      be stored and processed by us for the purpose of processing your request.
      We do not pass on this data without your consent.
    </p>
    <p>
      The processing of this data is based on Art. 6 (1) (b) GDPR if your
      request is related to the performance of a contract or is necessary for
      the implementation of pre-contractual measures. In all other cases, the
      processing is based on our legitimate interest in the effective processing
      of the requests sent to us (Art. 6 (1) (f) GDPR) or on your consent (Art.
      6 (1) (a) GDPR) if this has been requested; the consent can be revoked at
      any time.
    </p>
    <p>
      The data you send to us via contact requests will remain with us until you
      request us to delete it, revoke your consent to store it, or the purpose
      for storing the data no longer applies (e.g., after your request has been
      processed). Mandatory legal provisions - in particular legal retention
      periods - remain unaffected.
    </p>
  </Card>
</Layout>
