<footer class="block py-16 px-8 w-full shadow bg-neutral-800 shadow-black">
  <p class="block">Bloodmage Software BgR</p>
  <p class="block">Heilbronn, Germany</p>
  <a class="block underline" href="mailto:contact@bloodmagesoftware.de"
    >contact@bloodmagesoftware.de</a
  >
</footer>
