<footer
  class="block py-16 px-8 mt-16 w-full shadow bg-neutral-800 shadow-black"
>
  <p>Copyright © {new Date().getFullYear()} Mayer & Ott GbR</p>
  <p><a class="block underline" href="/legal_notice">Legal notice</a></p>
  <p><a class="block underline" href="/privacy_policy">Privacy policy</a></p>
</footer>
