---
import Mailto from "./Mailto.astro";
---

<footer
  class="block py-16 px-8 mt-16 w-full shadow bg-neutral-800 shadow-black"
>
  <p>Copyright © {new Date().getFullYear()} Mayer & Ott GbR</p>
  <p><a class="block underline" href="/impressum">Impressum</a></p>
</footer>
