---
import bmsLogo from "../assets/logo.svg";
import bmsLettering from "../assets/bms_lettering.svg";
import { Image } from "astro:assets";

export interface Props {
  h1: boolean;
}
---

<header class="py-2 px-4 shadow bg-neutral-800 shadow-black">
  <a
    href="/"
    class="flex flex-row gap-2 justify-start items-center"
    draggable="false"
  >
    <Image
      class="block w-24 aspect-square"
      src={bmsLogo}
      draggable="false"
      loading="eager"
      decoding="auto"
      alt="🧙"
    />
    <p class="block text-2xl font-bold text-white">
      {
        Astro.props.h1 ? (
          <h1>
            <span class="hidden">Bloodmage Software</span>
            <img
              class="block h-16 aspect-auto"
              src={bmsLettering.src}
              alt="Bloodmage Software"
              draggable="false"
            />
          </h1>
        ) : (
          <img
            class="block h-16 aspect-auto"
            src={bmsLettering.src}
            alt="Bloodmage Software"
            draggable="false"
          />
        )
      }
    </p>
  </a>
  <nav>
    <a href="/">Home</a>
    <a
      href="/#unsere-bibliothek"
      onclick="document.getElementById('unsere-bibliothek').scrollIntoView({behavior: 'smooth'}); return false;"
      >Bibliothek</a
    >
    <a href="/team">Team</a>
    <a href="https://store.steampowered.com/developer/bloodmagesoftware"
      >Steam</a
    >
    <a href="/static/press_kit.zip">Press-kit</a>
  </nav>
</header>
