---
import bmsLogo from "../assets/logo.svg";
---

<header class="py-2 px-4 bg-neutral-800">
  <a href="/" class="flex flex-row gap-2 justify-start items-center">
    <img class="block w-24 aspect-square" src={bmsLogo.src} />
    <h1 class="block text-2xl font-bold text-[#8e1b23]">Bloodmage Software</h1>
  </a>
</header>
