---
import bmsLogo from "../assets/logo.svg";
import bmsLettering from "../assets/bms_lettering.svg";
---

<header class="py-2 px-4 shadow bg-neutral-800 shadow-black">
  <a href="/" class="flex flex-row gap-2 justify-start items-center">
    <img class="block w-24 aspect-square" src={bmsLogo.src} />
    <h1 class="block text-2xl font-bold text-[#8E1B23]">
      <img
        class="block h-16 aspect-auto"
        src={bmsLettering.src}
        alt="Bloodmage Software"
      />
    </h1>
  </a>
</header>
