---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="bg-neutral-900 text-neutral-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bloodmage Software</title>
  </head>
  <body class="flex flex-col min-h-dvh">
    <div class="flex-grow">
      <Header />
      <main class="px-2 md:px-0">
        <slot />
      </main>
    </div>
    <Footer />
    <script>
      document.querySelectorAll("a[data-email]").forEach((el) => {
        const codedEmail = (el as HTMLElement).dataset.email;
        if (!codedEmail) return;
        const email = atob(codedEmail);
        (el as HTMLAnchorElement).href = `mailto:${email}`;
        (el as HTMLAnchorElement).innerText = email;
        delete el.dataset.email;
      });
      document.querySelectorAll("a[data-tel]").forEach((el) => {
        const codedTel = (el as HTMLElement).dataset.tel;
        if (!codedTel) return;
        const tel = atob(codedTel);
        (el as HTMLAnchorElement).href = `tel:${tel.replace(/[^+\d]+/g, "")}`;
        (el as HTMLAnchorElement).innerText = tel;
        delete el.dataset.tel;
      });
    </script>
  </body>
</html>
